.buttons {
    -fx-background-color: lavender;
    -fx-text-fill: black;
}
.buttons:hover {
    -fx-background-color: lightblue;
    -fx-cursor: hand;
}
.text-field {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-border-color: lavender;
    -fx-border-width: 2px;
}
.big-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.combo {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-border-color: lavender;
    -fx-border-width: 2px;
}
.errored {
    -fx-border-color: red;
}
.check-box {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-border-color: lavender;
    -fx-border-width: 2px;
}