.side-left {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #000033, #320033);
}
.clickable-label {
    -fx-text-fill: pink;
    -fx-font-size: 20px;
    -fx-cursor: hand;
}
.clickable-label:hover {
    -fx-text-fill: white;
}
.close {
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
    -fx-padding: 5px;
}
.normal-label {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.close:hover {
    -fx-background-color: #4D3165;
    -fx-text-fill: white;
}
.bar {
    -fx-background-color: #cccccc;
}
.list-item-title {
    -fx-font-size: 24px;
    -fx-text-fill: black;
}
.list-title {
    -fx-font-size: 24px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.list-item-description {
    -fx-font-size: 16px;
    -fx-text-fill: gray;
}
.list-root {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}
.list-item {
    -fx-background-color: white;
    -fx-border-color: #000033;
    -fx-text-fill: black;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}
.list-item:hover {
    -fx-background-color: #cccccc;
    -fx-border-color: #000033;
    -fx-text-fill: black;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-cursor: hand;
}